.idea
/bitrix/*
/bitrix/*/*
!/bitrix/composer.json
!/bitrix/composer.lock
!/bitrix/composer-bx.json
upload/
!.gitignore
/.htaccess
/*.xml
/*.txt
/*.json
/*.log
/web.config
personal/
search/
store/
login/
about/
auth/
catalog/
images/
include/
.bottom.menu.php
.access.php
.htaccess
.left.menu_ext.php
.personal.menu.php
.section.php
.top.menu.php
404.php
favicon.ico
sect_bottom.php
sect_sidebar.php
urlrewrite.php
index.php
bitrix/